<table class="currencyTable" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <th *matHeaderCellDef></th>
        <td id="currencyName" mat-cell *matCellDef="let x"> {{x.code}}
            <span class="currencyDescription" style="display: block;">{{x.name}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th *matHeaderCellDef></th>
        <td id="currencyValue" mat-cell *matCellDef="let x">
            {{x.localCurrencySymbol}}&nbsp;{{x.values[x.values.length-1].value | number: '1.1-5'}} </td>
    </ng-container>

    <ng-container matColumnDef="changeRate">
        <th *matHeaderCellDef></th>
        <td id="currencyChangeRate" [ngClass]="GetChangeColor(x.values[x.values.length - 1], x.values[0])" ng mat-cell
            *matCellDef="let x"> %{{GetChangeRate(x.values[x.values.length - 1].value, x.values[0].value)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [@realTimeChange]="GetChangeColor(row.values[row.values.length - 1], row.values[row.values.length - 2])"></tr>
</table>
<div class="ad">

</div>
<H3 style="text-align: center;">Gold and Foreign Currency Rates in Pakistan</H3>
<table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
        <th *matHeaderCellDef></th>
        <td id="currencyName" mat-cell *matCellDef="let x"> {{x.name ? x.name : x.code}} </td>
    </ng-container>

    <ng-container matColumnDef="feed">
        <th *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let x"> {{x.paragraph}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="feedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: feedColumns;"></tr>

</table>

<mat-card class="cards">
    <mat-card-header>
        <mat-card-title i18n="Mat Card Tola Title| Description for tola mat card@@TolaTitle">What is Tola in Pakistan?</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p i18n="Mat Card Tola Description | Title for tola mat card@@TolaDecription">
            Tola, also spelt as tolah or tole, is a Hindi term which is used in India and some other Asian countries to
            measure gold. At present, one tola
            is equivalent to 10 grams of gold. Once used by Ancient Indian and South Asian, the weight of one tola today
            is equal to 180 troy grains (11.6638038 grams) or 3/8 troy ounce.
            During the rule of British India, tola was used as the base unit of mass to weight and measure grains. At
            that time, one tola was equal to 175.90 troy grains (0.97722222 British tolas, or 11.33980925 grams).
            The root of term tola dates back to the Vedic age when it used to weight seed and other grains. The term
            Tola is derived from the Sanskrit word 'Tol' meaning weight or weighing. Traditionally, the exact weight of
            tola used to vary as the weight of tola was determined by the weight of 100 Ratti seeds.
            Several pre-colonial coins, including that of Akbar the Great (1556–1605), weighted one tola. The first
            rupee, minted by Sher Shah Suri (1540–45), weight 178 troy grains, or about 1 per cent less than the British
            tola.
            Tola was officially replaced by metric units in 1956, however, it is still in use as the denomination for
            gold bars in countries like India, Bangladesh, Nepal, Pakistan, and Singapore. Among these, ten tola bar is
            the most commonly traded metal.
        </p>
    </mat-card-content>

</mat-card>

<mat-card class="cards">
    <mat-card-header>
        <mat-card-title i18n="Mat Card Ounce Title| Title for ounce mat card@@OunceTitle">What Is an Ounce?</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p i18n="Mat Card Ounce Description | Title for ounce mat card@@OunceDecription">
            An ounce is a unit of measure used for weighing precious metals that dates back to the Middle Ages.
            Originally used in Troyes, France, one troy ounce is equal to 31.1034768 grams, according to the U.K. Royal
            Mint. The ounce is retained even today as the standard unit of measurement in the precious metals
            market to ensure purity standards and other common measures remain consistent over time.
        </p>
    </mat-card-content>

</mat-card>

<mat-card class="cards">
    <mat-card-header>
        <mat-card-title i18n="Mat Card Tola Grams Title| Title for tola grams mat card@@TolaGramsTitle">How many grams of gold is equivalent to 1 Tola?</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p i18n="Mat Card Tola Grams Description| Description for tola grams mat card@@TolaGramsDescription">
            Currently, one tola equals to 10 grams of gold. During British rule, tola was considered as the base unit of
            mass to weight and measure grains in India.
        </p>
    </mat-card-content>

</mat-card>

<mat-card class="cards">
    <mat-card-header>
        <mat-card-title i18n="Mat Card KgTola Title| Title for Kg Tola mat card@@KgTolaTitle">How much is 1 kg of gold in Tola in Pakistan?</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p i18n="Mat Card KgTola Description| Description for Kg Tola mat card@@KgTolaDescription">
            1 kilogram of gold is equivalent to 85.735 tola.
        </p>
    </mat-card-content>

</mat-card>

<mat-card class="cards">
    <mat-card-header>
        <mat-card-title i18n="Mat Card Tola Countries Title| Title for Tola Countries mat card@@TolaCountriesTitle">Which countries used tola as a denomination for gold?</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p i18n="Mat Card Tola Countries Description| Description for Tola Countries mat card@@TolaCountriesDescription">
            India, Pakistan, Bangladesh, Nepal, and Singapore still used tola to measure gold (especially gold bars).
        </p>
    </mat-card-content>

</mat-card>

